/chrome_scraper_profile
sales_order_demand.json
saved_products.json
__pycache__/
*.pyc
/build
/dist/chrome_scraper_profile
.DS_Store
.gitattributes
chromedriver-win64/chromedriver.exe
chromedriver-win64/LICENSE.chromedriver
chromedriver-win64/THIRD_PARTY_NOTICES.chromedriver
/chromedriver-win64
/__pycache__
